:root {
  background-color: #f2f7ff;
}
/* styles.css */
body {
  font-family: Arial, Helvetica, sans-serif !important;
}
/* .react-datepicker-wrapper {
  height: "40px";
  border: "none";
}
.react-datepicker-wrapper .react-datepicker__input-container {
  height: 40px;
  border: "none";
} */
.react-datepicker-wrapper .admissionDate {
  height: 40px !important;
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.react-datepicker-wrapper .dob-datepicker {
  height: 45px;
  border-radius: 8px;
  border: 1px solid lightgray;
  width: 352px !important;
}
.react-datepicker-wrapper .paymentDate {
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.react-datepicker-wrapper .transaction {
  height: 45px;
  border-radius: 8px;
  border: 1px solid lightgray;
}
